$secondaryColor: #2c3e50;
$secondaryColorDark: #031828;

$primaryColor: #41B883;
$primaryColorDark: #008756;

$textColor: $secondaryColor;
$textColorDark: #ffffff;

$statusColor: #000000;

$errorColor: red;